@import "tailwindcss";

body {
  @apply bg-slate-900 text-slate-100;
  margin: 0;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.safe-area-inset {
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
